:root {
--primary-color: #1d879b;
--secondary-color: #e74c3c;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
font-size: 1rem;
font-family: Lato, sans-serif;
color: #222324;
line-height: 1.6;
background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 400;
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 1.2;
color: var(--primary-color);
}

p {
font-size: 0.9375rem;
font-weight: 300;
color: #656565;
line-height: 1.6;
}

li {
display: list-item;
list-style:disc;
margin-left: 50px;
}

b {
color: #000;
font-weight: bold;
}

button {
cursor: pointer;
}

textarea {
resize: none;
overflow: hidden;
width: 300px;
height: 100px;
}

nav {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
position: fixed;
width: 100%;
top: 0;
z-index: 100;
cursor: pointer;
}

nav img {
width: 100px;
}

nav input {
padding: 5px;
border: none;
border-radius: 3px;
}

nav ul {
list-style: none;
display: flex;
}

nav ul li {
margin-left: 20px;
list-style: none;
}

nav ul li a {
text-decoration: none;
color: #fff;
}

nav ul li a:hover {
color: var(--primary-color);
}

nav ul ul {
display: none;
position: absolute;
background-color: #333;
}

nav ul ul li {
width: 150px;
float: none;
display: list-item;
position: relative;
padding: 10px;
}

footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}

footer a {
color: #fff;
text-decoration: none;
}

.search-bar {
overflow: hidden;
display: flex;
flex-wrap: nowrap;
margin-left: 20px;
}

#searchInput {
padding: 5px;
background-color: #fff;
color: #000;
outline: none;
min-width: 0;
max-width: 150px;
border-radius: 5px;
margin-right: 5px;
}

.dropdown {
position: relative;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #333;
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
z-index: 1000;
font-size: 12px;
}

.dropdown-content li {
display: block;
}

.carrusel-container {
margin-top: 45px;
position: relative;
overflow: hidden;
z-index: 1;
}

img {
width: 100%;
height: 100%;
object-fit: fill;
}

.carrusel {
display: flex;
transition: transform 0.5s ease-in-out;
height: 400px;
}

.carrusel video {
position: absolute;
left: 50%;
top: 5px;
transform: translate(-50%);
border: solid #000 2px;
}

.slide {
position: relative;
min-width: 100%;
background-color: var(--primary-color);
}

/* Estilo para las flechas */
.flecha-izquierda,
.flecha-derecha {
position: absolute;
top: 50%;
font-size: 24px;
background: transparent;
border: none;
cursor: pointer;
color: white;
padding: 15px;
outline: none;
}

.flecha-izquierda {
left: 10px;
}

.flecha-derecha {
right: 10px;
}

.redes_sociales {
margin: auto;
width: 100px;
display: flex;
justify-content: space-between;
}

.red_social {
color: #fff;
}

.red_social:hover {
color: var(--primary-color);
}

.contacto {
display: flex;
width: 350px;
justify-content: space-between;
margin: auto;
}

.contacto p {
color: #fff;
}

.producto {
border: 1px solid #ddd;
background-color: #fff;
margin: 10px;
padding: 15px;
display: flex;
flex-direction: column;
}

.producto:hover {
background-color: #ccc;
}

.categoria-icono {
display: inline;
}

.categoria-icono img {
width: 50px;
height: 50px;
}

.titulo {
font-size: 18px;
display: inline;
}

.descripcion {
font-size: 11px;
line-height: 14px;
margin: 20px;
}

.precio {
font-size: 16px;
color: var(--primary-color);
display: inline;
}

.boton-compra {
background-color: var(--secondary-color);
color: #fff;
padding: 8px 15px;
border: none;
cursor: pointer;
font-size: 14px;
}

.boton-compra:hover {
background-color: #e71113;
}

.productos {
display: grid;
grid-template-columns: repeat(3, 1fr);
}

.division h2 {
margin: 10px;
}

.division h3 {
text-align: center;
}

.event-section {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

#eventos {
text-align: center;
padding: 20px;
letter-spacing: 10px;
background-color: var(--primary-color);
color: #fff;
margin-top: 20px;
}

.event-card {
border: 1px solid #ddd;
border-radius: 8px;
margin: 10px;
padding: 15px;
text-align: center;
flex: 1;
background-color: #fff;
}

.event-card p {
margin-top: 10px;
padding: 0 10px 10px 10px;
height: 200px;
overflow-y: scroll;
}

.event-cards {
display: flex;
}

.pagination {
margin-top: 20px;
display: flex;
justify-content: center;
}

.page-number {
cursor: pointer;
margin: 0 5px;
padding: 5px 10px;
border: 1px solid #ddd;
border-radius: 4px;
}

.foto {
margin: 10px 0;
height: 200px;
object-fit: fill;
}

.descargas {
display: flex;
justify-content:space-around;
background-color: var(--primary-color);
padding: 10px;
}

.descargas button {
color: #fff;
padding: 10px 20px;
background-color: transparent;
letter-spacing: 3px;
}

.descargas button:hover {
background-color: #146170;
}

#boton_busqueda {
background-color: var(--primary-color);
padding: 5px 10px;
color: #fff;
}

#boton_busqueda:hover {
background-color: #146170;
}

.separador {
background-color: var(--primary-color);
height: 200px;
object-fit: scale-down;
}

.servicios {
display: flex;
justify-content: space-around;
}

.servicio {
cursor: pointer;
height: 100px;
}

.servicio img {
object-fit: scale-down;
}
.servicio h2 {
color: var(--primary-color);
}

.informacion {
display: none;
padding: 20px;
}

.formulario {
margin: 20px auto;
max-width: 600px;
padding: 20px;
border: 1px solid #ccc;
display: flex;
flex-direction: column;
align-items: center;
}

form button {
background-color: var(--primary-color);
color: #fff;
padding: 10px;
border: none;
cursor: pointer;
}

.formulario button:hover {
background-color: #146170;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
}

.hidden {
display: none;
}

#atencion_cliente {
display: flex;
flex-direction: column;
align-items: center;
}

#formularioAtencion {
margin: 20px auto;
max-width: 600px;
padding: 20px;
border: 1px solid #ccc;
display: flex;
flex-direction: column;
align-items: center;
}

.text-area {
display: flex;
align-items: center;
}

.text-area > * {
    margin: 0 5px;
}

.flex-item {
margin: 5px;
}

input {
    width: 250px;
}

#barras {
display: none;
}

.mark {
outline: var(--secondary-color) solid 2px;
}


/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
#nav-bar {
flex-direction: column;
align-items: flex-start;
transform: translateY(-100%);
overflow: hidden;
transition: transform 0.5s ease-in-out;
}

#barras {
display: block;
position: fixed;
top: 5px;
right: 5px;
width: 25px;
height: 25px;
z-index: 100;
font-size: 25px;
}

.carrusel-container {
margin-top: 0;
}

.search-bar {
margin-top: 10px;
}

ul {
flex-direction: column;
align-items: flex-start;
}

.nav_li {
margin: 10px 0;
}

.dropdown-content {
position: static;
display: none;
}

.productos {
display: flex;
flex-direction: column;
}

.event-cards {
flex-direction: column;
}

.carrusel video {
bottom: auto;
border: solid #000 0;
width: 100%;
}

.search-bar {
margin-left: 0;
}

}
